.button {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: var(--white);
  background: transparent;
  box-shadow:
    0 0 0.5rem var(--white),
    inset 0 0 0.5rem var(--white),
    0 0 1rem var(--white),
    inset 0 0 0.5rem var(--white);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  &:active {
    transform: translateY(4px);
  }

  @media screen and (min-width: 1024px) {
    width: 96px;
    height: 96px;
  }

  div {
    color: var(--white);
    text-shadow:
      -0.2rem -0.2rem 1rem var(--white),
      0.2rem 0.2rem 1rem var(--white),
      0 0 2rem var(--white);
    font-size: 10px;

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }
}
