.wrapper {
  min-height: calc(100vh - var(--header-height));
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% - var(--back-button-length) - var(--page-padding));
  width: calc(100% - var(--page-padding) * 2);
  padding-bottom: calc(var(--back-button-length) + var(--page-padding) + 80px);

  @media screen and (min-width: 1024px) {
    height: calc(100% - var(--back-button-length) - var(--page-padding-lg));
    width: calc(100% - var(--page-padding-lg) * 2);
    padding-bottom: calc(
      var(--back-button-length) + var(--page-padding-lg) + 160px
    );
  }
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

/* アイデアカウント */
.count {
  margin: 16px 0;
  font-size: 16px;

  span {
    font-size: 24px;
    color: var(--light-blue);

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

/* テーマ */
.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    gap: 24px;
    margin-bottom: 24px;
  }
}

.themeContentConatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.themeContent {
  width: 98%;
}

/* 回答 */
.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    gap: 24px;
    margin-bottom: 24px;
  }
}

.answerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.answerContent {
  width: 98%;
}

/* フォーム */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

/* 考え方 */
.perspective {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    gap: 8px;
    margin-bottom: 24px;
  }
}

.perspectiveContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.perspectiveContent {
  width: 98%;
}

.perspectiveMain {
  font-size: 24px;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }

  span {
    font-size: 3rem;
    font-weight: bold;
    color: var(--pink);
  }
}

.perspectiveSub {
  font-size: 16px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

/* AIレスポンスエリア */
.aiResponse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ヒント */
.hint {
  display: grid;
  grid-template-columns: 80px 8px 1fr;
  grid-template-rows: 1fr 80px;
  width: 100%;
  margin-bottom: 40px;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 120px 16px 1fr;
    grid-template-rows: 1fr 120px;
    width: 70%;
    margin-bottom: 48px;
  }
}

.fukidashi {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--white);

  @media screen and (min-width: 1024px) {
    width: 120px;
    font-size: 14px;
  }
}

.astronaut {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blobContainer {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blobComment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--black);
  width: 80%;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }

  span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--pink);

    @media screen and (min-width: 1024px) {
      letter-spacing: -0.1rem;
    }
  }
}

.blob {
  width: 100%;
  height: 100%;
}

/* 回答例 */
.aiAnswerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  margin: 16px 0 30px;
  padding: 24px;
  border: 2px solid var(--light-gray);
  border-radius: 8px;

  @media screen and (min-width: 1024px) {
    margin: 24px 0 48px;
    border-radius: 16px;
  }
}

.aiAnswer {
  padding: 16px;
  color: var(--white);
  font-size: 16px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }

  p {
    border-bottom: 1px solid var(--light-blue);
  }
}

/* 次の考え方に進むボタン */
.nextButton {
  position: relative;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 0.5rem;
}

/* エラーメッセージ */
.error {
  color: var(--red);
  font-size: 14px;
  margin: 8px 0 4px;
}

/* loader */
.loaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

/* AI回答保存フォーム */
.aiAnswerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
