.wrapper {
  height: calc(100vh - var(--header-height));
  width: 100vw;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  @media screen and (min-width: 768px) {
    gap: 80px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}
