/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 0;
  height: var(--header-height);
  width: 100%;

  @media screen and (min-width: 1024px) {
    padding: 16px 80px 0;
  }
}

/* ロゴ */
.logoArea {
  position: fixed;
  height: 72px;
  width: 112px;
  z-index: 30;
}

.logo {
  height: 100%;
  width: 100%;
}

/* Menuボタン */
.hamburger {
  position: fixed;
  z-index: 45;
  top: 16px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.8;
  cursor: pointer;
  margin-top: 8px;

  span {
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 24px;
    height: 3px;
    background-color: var(--black);
    border-radius: 2px;
    margin: 3px 0;
    transition: all 0.4s;

    &:nth-child(1) {
      top: 16px;

      &.open {
        top: 16px;
        left: 16px;
        transform: translateY(8px) rotate(-45deg);
      }
    }

    &:nth-child(2) {
      top: 24px;

      &.open {
        opacity: 0;
      }
    }

    &:nth-child(3) {
      top: 32px;

      &.open {
        top: 32px;
        left: 16px;
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    right: 80px;
  }
}

/* Menuが開かれているときの画面 */
.drawerMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  opacity: 0;
  background-color: var(--black);
  height: 100vh;
  width: 100vw;
  padding: 16px;
  transition: all 0.3s;
  overflow-y: auto;

  a {
    text-decoration: none;
    color: var(--white);
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;

    &:hover {
      span {
        color: var(--purple);
      }
    }

    span {
      text-align: center;
    }
  }

  &.active {
    opacity: 1;
    z-index: 40;
  }
}

/* drawerMenuの中身 */
.mainTitle {
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.subTitle {
  display: block;
  font-size: 12px;
}
