.textareaContainer {
  width: 100%;
  position: relative;
}

.textarea {
  height: 10rem;
}

.microphone {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--black);
  width: 20px;
  height: 20px;
}
