.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 4px solid var(--light-gray);
  border-radius: 16px;
  cursor: pointer;
  background-image: url("/images/idea-memo-bg.svg");
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease 0s;

  &:hover,
  &:active {
    transform: translateY(-5px);
  }
}

.headerBody {
  width: 100%;
}

.cardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 16px;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

// .heartIcon {
//   height: 40px;
//   width: auto;
// }

.cardBody {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.sectionContentContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.sectionContent {
  width: 98%;
  text-align: start;
}

.cardFooter {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  padding: 16px;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}
