.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--light-gray);
  border-radius: 16px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px 16px 0;

  @media screen and (min-width: 768px) {
    padding: 16px 20px 20px 0;
  }
}

// .heartIcon {
//   height: 40px;
//   width: auto;
// }

.cardBody {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  @media screen and (min-width: 768px) {
    padding: 0 20px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.sectionContentContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.sectionContent {
  width: 98%;
}

.cardFooter {
  width: 100%;
  text-align: end;
  padding: 16px;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}
