.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-top: 48px;
  padding: 1rem;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    margin-top: 64px;
  }
}
