:root {
  --black: #100706;
  --white: #fff;
  --gray: #333333;
  --light-blue: #4ac7d1;
  --pink: #fc6eb3;
  --purple: #6a00b7;

  --header-height: 88px;
}

html,
body {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-sawarabi-gothic), var(--font-neoneon), sans-serif;
}

body * {
  box-sizing: inherit;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}
