.decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 4px 16px;
}

.svg {
  height: 32px;
  width: auto;

  @media screen and (min-width: 1024px) {
    height: 40px;
  }
}

.number {
  color: var(--light-blue);
  font-size: 14px;
  line-height: 1rem;
  font-weight: 700;
}
