.container {
  width: 100%;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 96px;
  }
}

.input {
  opacity: 0;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 4px solid var(--light-gray);
  border-radius: 10px;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--light-gray);
      opacity: 0.8;
    }
  }
}

.selected {
  background-color: var(--light-gray);
}

.loadMoreButton {
  margin-top: 24px;

  @media screen and (min-width: 1024px) {
    margin-top: 32px;
  }
}
